.TemplateContainerPanopto{
    width: 100%;
    overflow: auto;
}

.detailsCollapsiblePanopto{
    pointer: cursor; 
    padding: 10px; 
    border: none; 
    text-align: left; 
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #212121;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: visible;
    border: 2px solid transparent;
}

.detailsCollapsiblePanopto:hover{
    background-color: #E1E1E1;
    color: #3357c2;
}

.detailsCollapsiblePanopto:focus-visible{
    outline: none;
    border-color: #468ff4;
}
.detailsCollapsibleDarkModePanopto{
    pointer: cursor; 
    padding: 10px; 
    border: none; 
    text-align: left; 
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid transparent;
}

.detailsCollapsibleDarkModePanopto:hover{
    background-color: #CCCCCC;
    color: #468ff4;
}

.detailsCollapsibleDarkModePanopto:focus-visible{
    outline: none;
    border-color: #468ff4;
}
.present_wrapperPanopto {
    position: relative;
    padding-bottom: 60 %;
    overflow: hidden;
    height: 58dvh;
    padding-left: 0 !important;
}

.Link-containerPanopto{
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

.LinkPanopto{
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #E1E1E1;
    background-color: #E1E1E1; 
    border-radius: 5px; /* Rounded borders */
    margin-bottom: 5px;
    margin: 0 5px;
    color: #131314;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}
.LinkDarkModePanopto {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    border: transparent; 
    background-color: transparent;
    border-radius: 5px; /* Rounded borders */
    margin-bottom: 5px;
    margin: 0 5px;
    color: #ffffff !important;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
  }
  .LinkDarkModePanopto:hover {
    background-color: #cccccc;
    color: #468ff4 !important;;
  }
.LinkPanopto:hover{
    background-color: #b2b2b2;
    border: 1px solid #b2b2b2;
    color: #3357c2;
}
.iframeButtonPanopto{
    display: none;
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    background-color: #CCCCCC; 
    border-radius: 5px; /* Rounded borders */
    margin-bottom: 5px;
    margin: 0 5px;
    color: #131314;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.iframeButtonPanopto:hover{
    background-color: #666666;
    border: 1px solid #666666;
    color: #468ff4;
}

  .IframeStylePanopto{
    width: 100%;
    height: 100%;
  }

.HeaderLinkPanopto{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px; /* Rounded borders */
    color: #212121;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    right: 0;
    border: 2px solid transparent;
}
.HeaderLinkPanopto:hover{
    background-color: #E1E1E1;
    color: #3357c2;
}
.HeaderLinkPanopto:focus-visible{
    outline: none;
    border-color: #468ff4;
}
.HeaderLinkDarkModePanopto{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px; /* Rounded borders */
    color: #FFFFFF !important; 
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    right: 0;
    border: 2px solid transparent;
}
.HeaderLinkDarkModePanopto:hover{
    background-color: #CCCCCC;
    color: #468ff4 !important;
}
.HeaderLinkDarkModePanopto:focus-visible{
    outline: none;
    border-color: #468ff4;
}
.HeaderLinkContainerPanopto{
    display: flex;
    align-items: center;
}
.HeaderLinkContainerPanopto > :first-child{
    flex: 1;
}