<div class="TemplateContainerPanopto" style="padding-left: 0;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" as="style" style="margin-left: auto;">
    <div id="HeaderContainer@@AUTOID@@" class="HeaderLinkContainerPanopto">
        <details id="Details@@AUTOID@@" closed="">
            <summary id="detailsButton@@AUTOID@@" class="detailsCollapsiblePanopto"></summary>
            <div id="iframeContainer@@AUTOID@@" class="present_wrapperPanopto" >
                <iframe id="Content@@AUTOID@@" class="IframeStylePanopto" src="" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" allow="camera;microphone;geolocation" as="style" ></iframe>
            </div>
            <div class="Link-containerPanopto">
                <a id="ShareLink@@AUTOID@@" href="" target="_blank" class="LinkPanopto" as="style" style="margin-left: auto;" aria-label="Open content in a new tab"><i class="fas fa-external-link-alt"></i> Link</a>
            </div>
        </details>
        <a id="ShareLinkHeader@@AUTOID@@" href="" target="_blank" class="HeaderLinkPanopto" as="style" aria-label="Open content in a new tab"><i class="fas fa-external-link-alt"></i></a>
    </div>
</div>
<script>
window.onload = function(){}
</script>