/* MSFile Styles */ 

.TemplateContainerMSFile {
  width: 100%;
  overflow: auto;
}

.detailsCollapsibleMSFile {
  pointer: cursor;
  padding: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #212121;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: visible;
  border: 2px solid transparent;
}

.detailsCollapsibleMSFile:hover {
  background-color: #E1E1E1;
  color: #3357c2;
}

.detailsCollapsibleMSFile:focus-visible {
  outline: none;
  border-color: #468ff4;
}
.detailsCollapsibleDarkModeMSFile {
  pointer: cursor;
  padding: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid transparent;
}

.detailsCollapsibleDarkModeMSFile:hover {
  background-color: #cccccc;
  color: #468ff4;
}

.detailsCollapsibleDarkModeMSFile:focus-visible {
  outline: none;
  border-color: #468ff4;
}
.present_wrapperMSFile {
  position: relative;
  height: 58dvh;
}

.Link-containerMSFile {
  padding: 10px;
  border-radius: 5px;
  display: flex;
}

.LinkMSFile {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #E1E1E1;
  background-color: #E1E1E1;
  border-radius: 5px; /* Rounded borders */
  margin-bottom: 5px;
  margin: 0 5px;
  color: #131314;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.LinkMSFile:hover {
  background-color: #b2b2b2;
  border: 1px solid #b2b2b2;
  color: #3357c2;
}
.LinkDarkModeMSFile {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  border: transparent; 
  background-color: transparent;
  border-radius: 5px; /* Rounded borders */
  margin-bottom: 5px;
  margin: 0 5px;
  color: #ffffff !important;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
.LinkDarkModeMSFile:hover {
  background-color: #cccccc;
  color: #468ff4 !important;;
}
.iframeButtonMSFile {
  display: none;
  position: absolute;
  bottom: 30px;
  right: 5px;
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  background-color: #cccccc;
  border-radius: 5px; /* Rounded borders */
  margin-bottom: 5px;
  margin: 0 5px;
  color: #131314;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.iframeButtonMSFile:hover {
  background-color: #666666;
  border: 1px solid #666666;
  color: #468ff4;
}

.IframeStyleMSFile {
  width: 100%;
  height: 100%;
}

.stateIndicatorMSFile {
  height: 5px;
  background-color: #E1E1E1;
}

.HeaderLinkMSFile {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px; /* Rounded borders */
  color: #212121;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  right: 0;
  border: 2px solid transparent;
}
.HeaderLinkMSFile:hover {
  background-color: #E1E1E1;
  color: #3357c2;
}
.HeaderLinkMSFile:focus-visible {
  outline: none;
  border-color: #468ff4;
}
.HeaderLinkDarkModeMSFile {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px; /* Rounded borders */
  color: #ffffff !important;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  right: 0;
  border: 2px solid transparent;
}
.HeaderLinkDarkModeMSFile:hover {
  background-color: #cccccc;
  color: #468ff4 !important;
}
.HeaderLinkDarkModeMSFile:focus-visible {
  outline: none;
  border-color: #468ff4;
}

.HeaderLinkContainerMSFile {
  display: flex;
  align-items: center;
}
.HeaderLinkContainerMSFile > :first-child {
  flex: 1;
}
