<div class="TemplateContainerMiro" style="padding-left: 0;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" as="style" style="margin-left: auto;">
    <div id="HeaderContainer@@AUTOID@@" class="HeaderLinkContainerMiro" style="padding-left: 0;">
        <details id="Details@@AUTOID@@" closed="">
            <summary id="detailsButton@@AUTOID@@" class="detailsCollapsibleMiro"></summary>
            <div id="stateIndicator@@AUTOID@@" class="stateIndicatorMiro"></div>
            <div id="iframeContainer" class="present_wrapperMiro" style="padding-left: 0;">
                <iframe id="Content@@AUTOID@@" class="IframeStyleMiro" src="" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" allow="camera;microphone;geolocation" as="style" ></iframe>
            </div>
            <div class="Link-containerMiro" id="Link-container@@AUTOID@@">
                <a id="ShareLink@@AUTOID@@" href="" target="_blank" class="LinkMiro" as="style" style="margin-left: auto;" ria-label="Open content in a new tab"><i class="fas fa-external-link-alt"></i> Link</a>
            </div>
        </details>
        <a id="ShareLinkHeader@@AUTOID@@" href="" target="_blank" class="HeaderLinkMiro" as="style" ria-label="Open content in a new tab"><i class="fas fa-external-link-alt"></i></a>
    </div>
</div>
<script>
window.onload = function(){}
</script>