.collapsibleSection {
  cursor: pointer;
  padding: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #212121;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: visible;
  border: 2px solid transparent;
}

.collapsibleSection:hover {
  background-color: #E1E1E1;
  color: #3357c2;
}

.collapsibleSection:focus-visible {
  border-color: #468ff4;
}
.collapsibleSectionDarkMode {
  cursor: pointer;
  padding: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid transparent;
}

.collapsibleSectionDarkMode:hover {
  background-color: #E1E1E1;
  color: #3357c2;
}

.collapsibleSectionDarkMode:focus-visible {
  border-color: #468ff4;
}

.detailsStyle{
  width: 100%;
}

.detailsStyle div{
  /*background-color: aquamarine;*/
}

.TemplateContainerCollapsible{
  width: 100%;
  overflow: auto;
  display: flex;
  padding-left: 0 !important;
}

.Indent{
  width: inherit;
  display: flex;
  margin-top: 3px;
}

.closeButtonCollapsible{
  width: 7px;
  background-color: #E1E1E1;
  border-radius: 5px;
  border: 2px solid transparent;
  margin-bottom: 5px;
}

.closeButtonCollapsible:hover{
  cursor: pointer;
  background-color: #3357c2;
  color: #3357c2;
}

.closeButtonCollapsible:focus-visible{
  outline: none;
  border-color: #468ff4;
}

.WrapControlCollapsible{
  flex: 1;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}