// The body of template
<div class="TemplateContainerCollapsible">
    <details id="Details@@AUTOID@@" class="detailsStyle" closed="">
    <summary id="detailsButton@@AUTOID@@" class="collapsibleSection" tabindex="0">@@Name@@</summary>
    <div class="Indent">
        <div id="closeButtonCollapsible@@AUTOID@@" class="closeButtonCollapsible"></div>
        <div class="WrapControlCollapsible">
            <div>
        
    // End tags
            </div>
        </div>
    </div>
    </details>
</div>