<div class="TemplateContainerH5P" id="TemplateContainer@@AUTOID@@" style="padding-left: 0;">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" as="style" style="margin-left: auto;">
  <div id="HeaderContainer@@AUTOID@@" class="HeaderLinkContainerH5P" style="padding-left: 0;">
    <details id="Details@@AUTOID@@" closed="">
      <summary id="detailsButton@@AUTOID@@" class="detailsCollapsibleH5P"></summary>
      <div id="iframeContainer@@AUTOID@@" class="present_wrapperH5P" style="padding-left: 0;">
        <div id="stateIndicator@@AUTOID@@" class="stateIndicatorH5P"></div>
        <iframe id="Content@@AUTOID@@" class="IframeStyleH5P" src="" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" allow="camera;microphone;geolocation" as="style" ></iframe>
      </div>
      <div class="Link-containerH5P" id="Link-container@@AUTOID@@">
        <a id="ShareLink@@AUTOID@@" href="" target="_blank" class="LinkH5P" as="style" aria-label="Open content in a new tab" style="margin-left: auto;"><i class="fas fa-external-link-alt"></i> Link</a>
      </div>
    </details>
  <a id="ShareLinkHeader@@AUTOID@@" href="" target="_blank" class="HeaderLinkH5P" as="style" aria-label="Open content in a new tab"><i class="fas fa-external-link-alt"></i></a>
  </div>
</div>
<script>
window.onload = function(){}
</script>