// Custom CSS

.TemplateContainerSurveyXact{
    width: 100%;
    overflow: auto;
}

.detailsCollapsibleSurveyXact{
    pointer: cursor; 
    padding: 10px; 
    border: none; 
    text-align: left; 
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #212121;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: visible;
}

.detailsCollapsibleSurveyXact:hover{
    background-color: #CCCCCC;
    color: #468ff4;
}

.detailsCollapsibleSurveyXact:focus-visible{
    outline: 2px solid #468ff4;
    outline-offset: 5px;
}
.detailsCollapsibleDarkModeSurveyXact{
    pointer: cursor; 
    padding: 10px; 
    border: none; 
    text-align: left; 
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.detailsCollapsibleDarkModeSurveyXact:hover{
    background-color: #CCCCCC;
    color: #468ff4;
}

.detailsCollapsibleDarkModeSurveyXact:focus-visible{
    outline: 2px solid #468ff4;
}
.present_wrapperSurveyXact {
    position: relative;
    padding-bottom: 60 %;
    overflow: hidden;
    height: 700px;
    padding-left: 0 !important;
}

.Link-containerSurveyXact{
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

.LinkSurveyXact{
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    background-color: #CCCCCC; 
    border-radius: 5px; /* Rounded borders */
    margin-bottom: 5px;
    margin: 0 5px;
    color: #131314;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.LinkSurveyXact:hover{
    background-color: #666666;
    border: 1px solid #666666;
    color: #468ff4;
}
.LinkDarkModeSurveyXact {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    border: transparent; 
    background-color: transparent;
    border-radius: 5px; /* Rounded borders */
    margin-bottom: 5px;
    margin: 0 5px;
    color: #ffffff !important;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
  }
  .LinkDarkModeSurveyXact:hover {
    background-color: #cccccc;
    color: #468ff4 !important;;
  }
.iframeButtonSurveyXact{
    display: none;
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    background-color: #CCCCCC; 
    border-radius: 5px; /* Rounded borders */
    margin-bottom: 5px;
    margin: 0 5px;
    color: #131314;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.iframeButtonSurveyXact:hover{
    background-color: #666666;
    border: 1px solid #666666;
    color: #468ff4;
}

  .IframeStyleSurveyXact{
    width: 100%;
    height: 100%;
  }

.HeaderLinkSurveyXact{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px; /* Rounded borders */
    color: #212121;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    right: 0;
}
.HeaderLinkSurveyXact:hover{
    background-color: #CCCCCC;
    color: #468ff4;
}
.HeaderLinkDarkModeSurveyXact{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px; /* Rounded borders */
    color: #FFFFFF !important; 
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    right: 0;
}
.HeaderLinkDarkModeSurveyXact:hover{
    background-color: #CCCCCC;
    color: #468ff4 !important;
}

.HeaderLinkContainerSurveyXact{
    display: flex;
    align-items: center;
}
.HeaderLinkContainerSurveyXact > :first-child{
    flex: 1;
}