<div class="TemplateContainerGooglePDF" style="padding-left: 0;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" as="style" style="margin-left: auto;">
    <div id="HeaderContainer@@AUTOID@@" class="HeaderLinkContainerGooglePDF" style="padding-left: 0;">
        <details id="Details@@AUTOID@@" closed="">
            <summary id="detailsButton@@AUTOID@@" class="detailsCollapsibleGooglePDF"></summary>
            <div id="iframeContainer@@AUTOID@@" class="present_wrapperGooglePDF" style="padding-left: 0;">
                <button id="exitFullscreenButton@@AUTOID@@" class="iframeButtonGooglePDF" style="display: none;"><i class= "fas fa-expand"></i> Exit </button>
                <iframe id="Content@@AUTOID@@" class="IframeStyleGooglePDF" src="" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" allow="camera;microphone;geolocation" as="style" ></iframe>
            </div>
            <div class="Link-containerGooglePDF">
                <button id="fullscreenButton@@AUTOID@@" class="LinkGooglePDF"> <i class= "fas fa-expand"></i> Full-screen</button>
                <a id="Download@@AUTOID@@" href="" target="_blank" class="LinkGooglePDF" as="style" style="margin-left: auto;" aria-label="Download content"><i class="fas fa-download"></i> Download</a>
                <a id="ShareLink@@AUTOID@@" href="" target="_blank" class="LinkGooglePDF" as="style" aria-label="Open content in a new tab"><i class="fas fa-external-link-alt"></i> Link</a>
            </div>
        </details>
        <a id="DownloadLinkHeader@@AUTOID@@" href="" target="_blank" class="HeaderLinkGooglePDF" as="style" aria-label="Download content"><i class="fas fa-download"></i></a>
        <a id="ShareLinkHeader@@AUTOID@@" href="" target="_blank" class="HeaderLinkGooglePDF" as="style" aria-label="Open content in a new tab"><i class="fas fa-external-link-alt"></i></a>
    </div>
</div>
<script>
window.onload = function(){}
</script>