// Url Styles

.TemplateContainerUrl {
  width: 100%;
  overflow: auto;
}

.detailsCollapsibleUrl {
  pointer: cursor;
  padding: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #212121;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: visible;
  border: 2px solid transparent;
}

.detailsCollapsibleUrl:hover {
  background-color: #E1E1E1;
  color: #3357c2;
}

.detailsCollapsibleUrl:focus-visible {
  outline: none;
  border: 2px solid #468ff4;
}
.detailsCollapsibleDarkModeUrl {
  pointer: cursor;
  padding: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid transparent;
}

.detailsCollapsibleDarkModeUrl:hover {
  background-color: #cccccc;
  color: #468ff4;
}

.detailsCollapsibleDarkModeUrl:focus-visible {
  outline: none;
  border: 2px solid #468ff4;
}
.present_wrapperUrl {
  position: relative;
  padding-bottom: 60 %;
  overflow: hidden;
  height: 58dvh;
}

.Link-containerUrl {
  padding: 10px;
  border-radius: 5px;
  display: flex;
}

.LinkUrl {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #E1E1E1;
  background-color: #E1E1E1;
  border-radius: 5px; /* Rounded borders */
  margin-bottom: 5px;
  margin: 0 5px;
  color: #131314;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.LinkUrl:hover {
  background-color: #b2b2b2;
  border: 1px solid #b2b2b2;
  color: #3357c2;
}
.LinkDarkModeUrl {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  border: transparent; 
  background-color: transparent;
  border-radius: 5px; /* Rounded borders */
  margin-bottom: 5px;
  margin: 0 5px;
  color: #ffffff !important;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
.LinkDarkModeUrl:hover {
  background-color: #cccccc;
  color: #468ff4 !important;;
}
.iframeButtonUrl {
  display: none;
  position: absolute;
  bottom: 5px;
  left: 5px;
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  background-color: #cccccc;
  border-radius: 5px; /* Rounded borders */
  margin-bottom: 5px;
  margin: 0 5px;
  color: #131314;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.iframeButtonUrl:hover {
  background-color: #666666;
  border: 1px solid #666666;
  color: #468ff4;
}

.IframeStyleUrl {
  width: 100%;
  height: 100%;
}

.HeaderLinkUrl {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px; /* Rounded borders */
  color: #212121;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  right: 0;
  border:2px solid transparent;
}
.HeaderLinkUrl:hover {
  background-color: #E1E1E1;
  color: #3357c2;
}
.HeaderLinkUrl:focus-visible {
  outline: none;
  border: 2px solid #468ff4;
}
.HeaderLinkDarkModeUrl {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px; /* Rounded borders */
  color: #ffffff !important;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  right: 0;
  border:2px solid transparent;
}
.HeaderLinkDarkModeUrl:hover {
  background-color: #cccccc;
  color: #468ff4 !important;
}
.HeaderLinkDarkModeUrl:focus-visible {
  outline: none;
  border: 2px solid #468ff4;
}
.HeaderLinkContainerUrl {
  display: flex;
  align-items: center;
}
.HeaderLinkContainerUrl > :first-child {
  flex: 1;
}
