<div class="TemplateContainerUrl" style="padding-left: 0;">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" as="style" style="margin-left: auto;">
  <div id="HeaderContainer@@AUTOID@@" class="HeaderLinkContainerUrl" style="padding-left: 0;">
    <details id="Details@@AUTOID@@" closed="">
      <summary id="detailsButton@@AUTOID@@" class="detailsCollapsibleUrl"></summary>
      <div id="iframeContainer@@AUTOID@@" class="present_wrapperUrl">
        <button id="exitFullscreenButton@@AUTOID@@" class="iframeButtonUrl" style="display: none;"><i class= "fas fa-expand"></i> Exit </button>
        <iframe id="Content@@AUTOID@@" class="IframeStyleUrl" src="" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" allow="camera;microphone;geolocation" as="style" ></iframe>
      </div>
      <div class="Link-containerUrl">
        <button id="fullscreenButton@@AUTOID@@" class="LinkUrl"> <i class= "fas fa-expand"></i> Full-screen</button>
        <a id="ShareLink@@AUTOID@@" href="" target="_blank" class="LinkUrl" as="style" aria-label="Open content in a new tab" style="margin-left: auto;"><i class="fas fa-external-link-alt"></i> Link</a>
      </div>
    </details>
  <a id="ShareLinkHeader@@AUTOID@@" href="" target="_blank" class="HeaderLinkUrl" as="style" aria-label="Open content in a new tab"><i class="fas fa-external-link-alt"></i></a>
  </div>
</div>
<script>
window.onload = function(){}
</script>