<div class="TemplateContainerGoogleForm" style="padding-left: 0;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" as="style" style="margin-left: auto;">
    <div id="HeaderContainer@@AUTOID@@" class="HeaderLinkContainerGoogleForm" style="padding-left: 0;">
        <details id="Details@@AUTOID@@" closed="">
            <summary id="detailsButton@@AUTOID@@" class="detailsCollapsibleGoogleForm"></summary>
            <div id="stateIndicator@@AUTOID@@" class="stateIndicatorGoogleForm"></div>
            <div id="iframeContainer@@AUTOID@@" class="present_wrapperGoogleForm" style="padding-left: 0;">
                <button id="exitFullscreenButton@@AUTOID@@" class="iframeButtonGoogleForm" style="display: none;"><i class= "fas fa-expand"></i> Exit </button>
                <iframe id="Content@@AUTOID@@" class="IframeStyleGoogleForm" src="" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" allow="camera;microphone;geolocation" as="style" ></iframe>
            </div>
            <div class="Link-containerGoogleForm" id="Link-container@@AUTOID@@">
                <button id="fullscreenButton@@AUTOID@@" class="LinkGoogleForm"> <i class= "fas fa-expand"></i> Full-screen</button>
                <a id="ShareLink@@AUTOID@@" href="" target="_blank" class="LinkGoogleForm" as="style" style="margin-left: auto;" aria-label="Open content in a new tab"><i class="fas fa-external-link-alt"></i> Link</a>
            </div>
        </details>
        <a id="ShareLinkHeader@@AUTOID@@" href="" target="_blank" class="HeaderLinkGoogleForm" as="style" aria-label="Open content in a new tab"><i class="fas fa-external-link-alt"></i></a>
    </div>
</div>
<script>
window.onload = function(){}
</script>