<div class="TemplateContainerMSStream" id="TemplateContainer@@AUTOID@@" style="padding-left: 0;">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" as="style" style="margin-left: auto;">
  <div id="HeaderContainer@@AUTOID@@" class="HeaderLinkContainerMSStream" style="padding-left: 0;">
    <details id="Details@@AUTOID@@" closed="">
      <summary id="detailsButton@@AUTOID@@" class="detailsCollapsibleMSStream"></summary>
      <div id="stateIndicator@@AUTOID@@" class="stateIndicatorMSStream"></div>
      <div id="iframeContainer@@AUTOID@@" class="present_wrapperMSStream" style="padding-left: 0;">
        <iframe id="Content@@AUTOID@@" class="IframeStyleMSStream" src="" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen>Dette er et integreret <a target="_blank" href="https://office.com">Microsoft Office</a>-dokument leveret af <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
      </div>
      <div class="Link-containerMSStream" id="Link-container@@AUTOID@@">
        <a id="ShareLink@@AUTOID@@" href="" target="_blank" class="LinkMSStream" as="style" aria-label="Open content in a new tab" style="margin-left: auto;"><i class="fas fa-external-link-alt"></i> Link</a>
      </div>
    </details>
    <a id="ShareLinkHeader@@AUTOID@@" href="" target="_blank" class="HeaderLinkMSStream" as="style" aria-label="Open content in a new tab"><i class="fas fa-external-link-alt"></i></a>
  </div>
</div>
<script>
window.onload = function(){}
</script>