// Custom CSS

.TemplateContainerMentimeter{
    width: 100%;
    overflow: auto;
}

.detailsCollapsibleMentimeter{
    pointer: cursor; 
    padding: 10px; 
    border: none; 
    text-align: left; 
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #212121;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: visible;
}

.detailsCollapsibleMentimeter:hover{
    background-color: #CCCCCC;
    color: #468ff4;
}

.detailsCollapsibleMentimeter:focus-visible{
    outline: 2px solid #468ff4;
}
.detailsCollapsibleDarkModeMentimeter{
    pointer: cursor; 
    padding: 10px; 
    border: none; 
    text-align: left; 
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.detailsCollapsibleDarkModeMentimeter:hover{
    background-color: #CCCCCC;
    color: #468ff4;
}

.detailsCollapsibleDarkModeMentimeter:focus-visible{
    outline: 2px solid #468ff4;
}
.present_wrapperMentimeter {
    position: relative;
    padding-bottom: 60 %;
    overflow: hidden;
    height: 700px;
    padding-left: 0 !important;
}

.Link-containerMentimeter{
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

.LinkMentimeter{
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    background-color: #CCCCCC; 
    border-radius: 5px; /* Rounded borders */
    margin-bottom: 5px;
    margin: 0 5px;
    color: #131314;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.LinkMentimeter:hover{
    background-color: #666666;
    border: 1px solid #666666;
    color: #468ff4;
}

.LinkDarkModeMentimeter {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    border: transparent; 
    background-color: transparent;
    border-radius: 5px; /* Rounded borders */
    margin-bottom: 5px;
    margin: 0 5px;
    color: #ffffff !important;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
  }
  .LinkDarkModeMentimeter:hover {
    background-color: #cccccc;
    color: #468ff4 !important;;
  }
.iframeButtonMentimeter{
    display: none;
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    background-color: #CCCCCC; 
    border-radius: 5px; /* Rounded borders */
    margin-bottom: 5px;
    margin: 0 5px;
    color: #131314;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.iframeButtonMentimeter:hover{
    background-color: #666666;
    border: 1px solid #666666;
    color: #468ff4;
}

  .IframeStyleMentimeter{
    width: 100%;
    height: 100%;
  }

.HeaderLinkMentimeter{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px; /* Rounded borders */
    color: #212121;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    right: 0;
}
.HeaderLinkMentimeter:hover{
    background-color: #CCCCCC;
    color: #468ff4;
}
.HeaderLinkDarkModeMentimeter{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px; /* Rounded borders */
    color: #FFFFFF !important; 
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    right: 0;
}
.HeaderLinkDarkModeMentimeter:hover{
    background-color: #CCCCCC;
    color: #468ff4 !important;
}

.HeaderLinkContainerMentimeter{
    display: flex;
    align-items: center;
}
.HeaderLinkContainerMentimeter > :first-child{
    flex: 1;
}