<div class="TemplateContainer@@AUTOID@@">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" as="style" style="margin-left: auto;">
    <div id="HeaderContainer@@AUTOID@@" class="HeaderLinkContainer">
        <details id="Details@@AUTOID@@" closed="">
            <summary id="detailsButton@@AUTOID@@" class="detailsCollapsible"></summary>
            <div id="iframeContainer@@AUTOID@@" class="present_wrapper" >
                <iframe id="Content@@AUTOID@@" class="IframeStyle" src="" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" allow="camera;microphone;geolocation" as="style" ></iframe>
            </div>
            <div class="Link-container">
                <a id="Download@@AUTOID@@" href="" target="_blank" class="Link" as="style" style="margin-left: auto;" aria-label="Download content"><i class="fas fa-download"></i> Download</a>
                <a id="ShareLink@@AUTOID@@" href="" target="_blank" class="Link" as="style" aria-label="Open content in a new tab"><i class="fas fa-external-link-alt"></i> Link</a>
            </div>
        </details>
        <a id="DownloadLinkHeader@@AUTOID@@" href="" target="_blank" class="HeaderLink" as="style" aria-label="Download content"><i class="fas fa-download"></i></a>
        <a id="ShareLinkHeader@@AUTOID@@" href="" target="_blank" class="HeaderLink" as="style" aria-label="Open content in a new tab"><i class="fas fa-external-link-alt"></i></a>
    </div>
</div>
<script>
window.onload = function(){}
</script>