<div class="TemplateContainer@@AUTOID@@">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" as="style" style="margin-left: auto;">
    <div id="HeaderContainer1@@AUTOID@@" class="HeaderLinkContainer">
        <details id="Details@@AUTOID@@" closed="">
            <summary id="detailsButton@@AUTOID@@" class="detailsCollapsible">Studie curriculum</summary>
            <div id="iframeContainer@@AUTOID@@" class="present_wrapper" >
                <button id="exitFullscreenButton@@AUTOID@@" class="iframeButton" style="display: none;"><i class= "fas fa-expand"></i> Exit </button>
                <iframe id="Content@@AUTOID@@" class="IframeStyle" src="" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" allow="camera;microphone;geolocation" as="style" ></iframe>
            </div>
            <div class="Link-container">
                <button id="fullscreenButton@@AUTOID@@" class="Link"> <i class= "fas fa-expand"></i> Full-screen</button>
                <a id="ShareLink@@AUTOID@@" href="" target="_blank" class="Link" as="style" style="margin-left: auto;"><i class="fas fa-external-link-alt"></i> Link</a>
            </div>
        </details>
        <a id="ShareLinkHeader@@AUTOID@@" href="" target="_blank" class="HeaderLink" as="style"><i class="fas fa-external-link-alt"></i></a>
    </div>
    <details id="Details@@AUTOID@@" closed="">
        <summary id="courseInfoButton@@AUTOID@@" class="detailsCollapsible">Course curriculum</summary>
        <div class ="Indent">@@Course curriculum information@@</div>
    </details>
    <details id="Details@@AUTOID@@" closed="">
        <summary id="exam@@AUTOID@@" class="detailsCollapsible">Course curriculum</summary>
        <div class ="Indent">@@Exam information@@</div>
    </details>
    <div class="NameContainer">
        <P id="educatorName@@AUTOID@@">Underviser: name </P>
        <P id="coordinatorName@@AUTOID@@">Semester Koordinator: name</P>
        <P id="secretary@@AUTOID@@">Studie sekretær: Name </P>
    </div>
</div>
<script>
window.onload = function(){}
</script>