<div class="TemplateContainerAG" style="padding-left: 0;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" as="style" style="margin-left: auto;">
    <div id="HeaderContainer" class="HeaderLinkContainerAG" style="padding-left: 0;">
        <details id="Details@@AUTOID@@" closed="">
            <summary id="detailsButton@@AUTOID@@" class="detailsCollapsibleAG"></summary>
            <div id="iframeContainer@@AUTOID@@" class="present_wrapperAG" style="padding-left: 0;">
                <button id="exitFullscreenButton@@AUTOID@@" class="iframeButtonAG" style="display: none;"><i class= "fas fa-expand"></i> Exit </button>
                <iframe id="Content@@AUTOID@@" class="IframeStyleAG" src="" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" allow="camera;microphone;geolocation" as="style" ></iframe>
            </div>
            <div class="Link-containerAG">
                <button id="fullscreenButton@@AUTOID@@" class="LinkAG"> <i class= "fas fa-expand"></i> Full-screen</button>
                <a id="ShareLink@@AUTOID@@" href="" target="_blank" class="LinkAG" as="style" style="margin-left: auto;" aria-label="Open content in a new tab"><i class="fas fa-external-link-alt"></i> Link</a>
            </div>
        </details>
        <a id="ShareLinkHeader@@AUTOID@@" href="" target="_blank" class="HeaderLinkAG" as="style" aria-label="Open content in a new tab"><i class="fas fa-external-link-alt"></i></a>
    </div>
</div>
<script>
window.onload = function(){}
</script>