// Custom CSS

.TemplateContainerAG{
    width: 100%;
    overflow: auto;
}

.detailsCollapsibleAG{
    pointer: cursor; 
    padding: 10px; 
    border: none; 
    text-align: left; 
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #212121;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: visible;
}

.detailsCollapsibleAG:hover{
    background-color: #CCCCCC;
    color: #468ff4;
}

.detailsCollapsibleAG:focus-visible{
    outline: 2px solid #468ff4;
    outline-offset: 5px;
}
.detailsCollapsibleDarkModeAG{
    pointer: cursor; 
    padding: 10px; 
    border: none; 
    text-align: left; 
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.detailsCollapsibleDarkModeAG:hover{
    background-color: #CCCCCC;
    color: #468ff4;
}

.detailsCollapsibleDarkModeAG:focus-visible{
    outline: 2px solid #468ff4;
}
.present_wrapperAG {
    position: relative;
    padding-bottom: 60 %;
    overflow: hidden;
    height: 700px;
    padding-left: 0 !important;
}

.Link-containerAG{
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

.LinkAG{
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    background-color: #CCCCCC; 
    border-radius: 5px; /* Rounded borders */
    margin-bottom: 5px;
    margin: 0 5px;
    color: #131314;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.LinkAG:hover{
    background-color: #666666;
    border: 1px solid #666666;
    color: #468ff4;
}
.LinkDarkModeAG {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  border: transparent; 
  background-color: transparent;
  border-radius: 5px; /* Rounded borders */
  margin-bottom: 5px;
  margin: 0 5px;
  color: #ffffff !important;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
.LinkDarkModeAG:hover {
  background-color: #cccccc;
  color: #468ff4 !important;;
}
.iframeButtonAG{
    display: none;
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    background-color: #CCCCCC; 
    border-radius: 5px; /* Rounded borders */
    margin-bottom: 5px;
    margin: 0 5px;
    color: #131314;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.iframeButtonAG:hover{
    background-color: #666666;
    border: 1px solid #666666;
    color: #468ff4;
}

  .IframeStyleAG{
    width: 100%;
    height: 100%;
  }

.HeaderLinkAG{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px; /* Rounded borders */
    color: #212121;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    right: 0;
}
.HeaderLinkAG:hover{
    background-color: #CCCCCC;
    color: #468ff4;
}
.HeaderLinkDarkModeAG{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px; /* Rounded borders */
    color: #FFFFFF !important; 
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    right: 0;
}
.HeaderLinkDarkModeAG:hover{
    background-color: #CCCCCC;
    color: #468ff4 !important;
}

.HeaderLinkContainerAG{
    display: flex;
    align-items: center;
}
.HeaderLinkContainerAG > :first-child{
    flex: 1;
}