.TemplateContainerGooglePub{
    width: 100%;
    overflow: auto;
}

.detailsCollapsibleGooglePub{
    pointer: cursor; 
    padding: 10px; 
    border: none; 
    text-align: left; 
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #212121;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: visible;
    border: 2px solid transparent;
}

.detailsCollapsibleGooglePub:hover{
    background-color: #E1E1E1;
    color: #3357c2;
}

.detailsCollapsibleGooglePub:focus-visible{
    outline: none;
    border-color: #468ff4;
}
.detailsCollapsibleDarkModeGooglePub{
    pointer: cursor; 
    padding: 10px; 
    border: none; 
    text-align: left; 
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid transparent;
}

.detailsCollapsibleDarkModeGooglePub:hover{
    background-color: #CCCCCC;
    color: #468ff4;
}

.detailsCollapsibleDarkModeGooglePub:focus-visible{
    outline: none;
    border-color: #468ff4;
}
.present_wrapperGooglePub {
    position: relative;
    padding-bottom: 60 %;
    overflow: hidden;
    height: 58dvh;
    padding_left: 0px;
}

.Link-containerGooglePub{
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

.LinkGooglePub{
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #E1E1E1;
    background-color: #E1E1E1; 
    border-radius: 5px; /* Rounded borders */
    margin-bottom: 5px;
    margin: 0 5px;
    color: #131314;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.LinkGooglePub:hover{
    background-color: #b2b2b2;
    border: 1px solid #b2b2b2;
    color: #3357c2;
}
.LinkDarkModeGooglePub {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    border: transparent; 
    background-color: transparent;
    border-radius: 5px; /* Rounded borders */
    margin-bottom: 5px;
    margin: 0 5px;
    color: #ffffff !important;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
  }
  .LinkDarkModeGooglePub:hover {
    background-color: #cccccc;
    color: #468ff4 !important;;
  }
.iframeButtonGooglePub{
    display: none;
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    background-color: #CCCCCC; 
    border-radius: 5px; /* Rounded borders */
    margin-bottom: 5px;
    margin: 0 5px;
    color: #131314;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.iframeButtonGooglePub:hover{
    background-color: #666666;
    border: 1px solid #666666;
    color: #468ff4;
}

.IframeStyleGooglePub{
    width: 100%;
    height: 100%;
    border-top: 3px solid #E1E1E1;
}

.HeaderLinkGooglePub{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px; /* Rounded borders */
    color: #212121;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    right: 0;
    border: 2px solid transparent;
}
.HeaderLinkGooglePub:hover{
    background-color: #E1E1E1;
    color: #3357c2;
}
.HeaderLinkGooglePub:focus-visible{
    outline: none;
    border-color: #468ff4;
}
.HeaderLinkDarkModeGooglePub{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px; /* Rounded borders */
    color: #FFFFFF !important; 
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    right: 0;
    border: 2px solid transparent;
}
.HeaderLinkDarkModeGooglePub:hover{
    background-color: #CCCCCC;
    color: #468ff4 !important;
}
.HeaderLinkDarkModeGooglePub:focus-visible{
    outline: none;
    border-color: #468ff4;
}

.HeaderLinkContainerGooglePub{
    display: flex;
    align-items: center;
}
.HeaderLinkContainerGooglePub > :first-child{
    flex: 1;
}