<div class="TemplateContainerSpotify" id="TemplateContainer@@AUTOID@@" style="padding-left: 0;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" as="style" style="margin-left: auto;">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div id="HeaderContainer@@AUTOID@@" class="HeaderLinkContainerSpotify" style="padding-left: 0;">
        <details id="Details@@AUTOID@@" closed="">
            <summary id="detailsButton@@AUTOID@@" class="detailsCollapsibleSpotify" tabindex="0"></summary>
            <div id="iframeContainer@@AUTOID@@" class="present_wrapperSpotify" style="padding-left: 0;">
                <iframe  id="content@@AUTOID@@" style="border-radius: 0px 0px 5px 5px; padding-left: 0;" src="" width="100%" height="352" frameBorder="0" allowfullscreen=""  clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> 
            </div>
        </details>
        <a id="ShareLinkHeader@@AUTOID@@" href="" target="_blank" class="HeaderLinkSpotify" as="style" aria-label="Open content in a new tab"><i class="fas fa-external-link-alt"></i></a>
    </div>
</div>
<script>
window.onload = function(){}
</script>
