<div class="TemplateContainerMSFORM" style="padding-left: 0;">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" as="style" style="margin-left: auto;">
  <div id="HeaderContainer@@AUTOID@@" class="HeaderLinkContainerMSFORM" style="padding-left: 0;">
    <details id="Details@@AUTOID@@" closed="">
      <summary id="detailsButton@@AUTOID@@" class="detailsCollapsibleMSFORM"></summary>
      <div id="stateIndicator@@AUTOID@@" class="stateIndicatorMSFORM"></div>
      <div id="iframeContainer@@AUTOID@@" class="present_wrapperMSFORM" style="padding-left: 0;">
        <button id="exitFullscreenButton@@AUTOID@@" class="iframeButtonMSFORM" style="display: none;"><i class= "fas fa-expand"></i> Exit </button>
        <iframe id="Content@@AUTOID@@" class="IframeStyleMSFORM" src="" width="100%" height="100%" frameborder="0">Dette er et integreret <a target="_blank" href="https://office.com">Microsoft Office</a>-dokument leveret af <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
      </div>
      <div class="Link-containerMSFORM" id="Link-container@@AUTOID@@">
        <button id="fullscreenButton@@AUTOID@@" class="LinkMSFORM"> <i class= "fas fa-expand"></i> Full-screen</button>
        <a id="ShareLink@@AUTOID@@" href="" target="_blank" class="LinkMSFORM" as="style" aria-label="Open content in a new tab" style="margin-left: auto;" ><i class="fas fa-external-link-alt"></i> Link</a>
      </div>
    </details>
    <a id="ShareLinkHeader@@AUTOID@@" href="" target="_blank" class="HeaderLinkMSFORM" as="style" aria-label="Open content in a new tab"><i class="fas fa-external-link-alt"></i></a>
  </div>
</div>
<script>
window.onload = function(){}
</script>