/* MSVisio Styles */ 

.TemplateContainerMSVisio {
  width: 100%;
  overflow: auto;
}

.detailsCollapsibleMSVisio {
  pointer: cursor;
  padding: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #212121;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: visible;
  border: 2px solid transparent;
}

.detailsCollapsibleMSVisio:hover {
  background-color: #cccccc;
  color: #468ff4;
}

.detailsCollapsibleMSVisio:focus-visible {
  outline: none;
  border-color: #468ff4;
}
.detailsCollapsibleDarkModeMSVisio {
  pointer: cursor;
  padding: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid transparent;
}

.detailsCollapsibleDarkModeMSVisio:hover {
  background-color: #cccccc;
  color: #468ff4;
}

.detailsCollapsibleDarkModeMSVisio:focus-visible {
  outline: none;
  border-color: #468ff4;
}
.present_wrapperMSVisio {
  position: relative;
  padding-bottom: 60 %;
  overflow: hidden;
  height: 700px;
}

.Link-containerMSVisio {
  padding: 10px;
  border-radius: 5px;
  display: flex;
}

.LinkMSVisio {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #CCCCCC;
  background-color: #cccccc;
  border-radius: 5px; /* Rounded borders */
  margin-bottom: 5px;
  margin: 0 5px;
  color: #131314;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.LinkMSVisio:hover {
  background-color: #666666;
  border: 1px solid #666666;
  color: #468ff4;
}
.LinkDarkModeMSVisio {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  border: transparent; 
  background-color: transparent;
  border-radius: 5px; /* Rounded borders */
  margin-bottom: 5px;
  margin: 0 5px;
  color: #ffffff !important;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
.LinkDarkModeMSVisio:hover {
  background-color: #cccccc;
  color: #468ff4 !important;;
}
.iframeButtonMSVisio {
  display: none;
  position: absolute;
  bottom: 30px;
  right: 5px;
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  background-color: #cccccc;
  border-radius: 5px; /* Rounded borders */
  margin-bottom: 5px;
  margin: 0 5px;
  color: #131314;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.iframeButtonMSVisio:hover {
  background-color: #666666;
  border: 1px solid #666666;
  color: #468ff4;
}

.IframeStyleMSVisio {
  width: 100%;
  height: 100%;
}

.HeaderLinkMSVisio {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px; /* Rounded borders */
  color: #212121;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  right: 0;
  border: 2px solid transparent;
}
.HeaderLinkMSVisio:hover {
  background-color: #cccccc;
  color: #468ff4;
}
.HeaderLinkMSVisio:focus-visible {
  outline: none;
  border-color: #468ff4;
}
.HeaderLinkDarkModeMSVisio {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px; /* Rounded borders */
  color: #ffffff !important;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  right: 0;
  border: 2px solid transparent;
}
.HeaderLinkDarkModeMSVisio:hover {
  background-color: #cccccc;
  color: #468ff4 !important;
}
.HeaderLinkDarkModeMSVisio:focus-visible {
  outline: none;
  border-color: #468ff4;
}

.HeaderLinkContainerMSVisio {
  display: flex;
  align-items: center;
}
.HeaderLinkContainerMSVisio > :first-child {
  flex: 1;
}
